<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Train Xing</h1>
        <p class="lead">Current Situation</p>


        <p>
            A level crossing is an intersection where a railway line crosses a
            road or path at the same level,[1] as opposed to the railway line crossing over or under using a bridge or tunnel.
        </p>


        <ul>
            <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span>
            <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>
    </div>
</div>
